body{
    margin: 0p;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal; 
    text-align: center;
    background-image: url(./Asset/background.png);
    /* height: auto; */
}
.header{
    margin: 0px;
    padding: 0%;
    height: ;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 0px;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}   
.logo{
    margin-top: 0%;
    width: 100px;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    display: inline;
}


nav ul li a{
    text-decoration: none;
    color: rgb(108, 108, 108);
}

.content{
    display: flex;
    justify-content: space-around;

}


.richardimage{
height: 100px;
    width: 20px;
    align-content: end;
}
h1{
    font-size: 80px;
    width: 200px;
    margin-left: 0%;
    text-align: left;
}
h3{
    font-size: 50px;
    font-size: large;
   
}
p{
   text-align: left;
}
.info{
    align-content: flex-start;
}
button{
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icons{
    position: relative;
    bottom: -300px;
    font-size: 20px;
}